@font-face {
    font-family: 'Inter';
    src: url('/static/fonts/Inter-Regular.woff'),
    url('/static/fonts/Inter-Regular.woff2');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Inter';
    src: url('/static/fonts/Inter-Medium.woff'),
    url('/static/fonts/Inter-Medium.woff2');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Lexend';
    src: url('/static/fonts/Lexend-Regular.woff'),
    url('/static/fonts/Lexend-Regular.woff2');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Lexend';
    src: url('/static/fonts/Lexend-Medium.woff'),
    url('/static/fonts/Lexend-Medium.woff2');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Manrope';
    src: url('/static/fonts/Manrope-Regular.woff'),
    url('/static/fonts/Manrope-Regular.woff2');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Manrope';
    src: url('/static/fonts/Manrope-Bold.woff'),
    url('/static/fonts/Manrope-Bold.woff2');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Manrope';
    src: url('/static/fonts/Manrope-SemiBold.woff'),
    url('/static/fonts/Manrope-SemiBold.woff2');
    font-weight: 600;
    font-style: normal;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Manrope', sans-serif;
    font-weight: 400;
}

.wrapper {
    max-width: 1140px;
    margin: 0 auto;
}

.burger-menu {
    display: none;
}


#menu-toggle{
    opacity: 0;
}

.menu-btn{
    position: absolute;
    top: 10px;
    left: 24px;
    cursor: pointer;
    z-index: 1;
}

.menu-btn > span,
.menu-btn > span::before,
.menu-btn > span::after {
    display: block;
    position: absolute;
    width: 25px;
    height: 2px;
    background-color: #616161;
}

.menu-btn > span::before {
    content: '';
    top: 16px;
    width: 25px;
}
.menu-btn > span::after {
    content: '';
    top: 8px;
    width: 25px;
}

.menubox{
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    left: -100%;
    width: 300px;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    background-color: #ECEFF1;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
    transition-duration: .25s;
}

#menu-toggle:checked ~ .menubox{
    visibility: visible;
    left: 0;
}

.menu-item {
    display: block;
    padding: 12px 24px;
    color: #333;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    transition-duration: .25s;
}
.menu-item:hover {
    background-color: #CFD8DC;
}


.header {
    display: flex;
    padding-bottom: 30px;
    background: #ECE0D6;
    justify-content: space-between;
}

.block-logo-menu {
    display: flex;
    margin: 24px 0 0 0;
}

.block-logo {
    display: flex;
    padding: 0 26px 0 55px;
    align-items: center;
}

.logo-img {
    padding-right: 14px;
}

.logo-text {
    font-family: Lexend;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
}

.separator {
    width: 1px;
    height: 32px;
    background: #1B1D21;
    margin-right: 24px;
}

.header-links {
    display: flex;
    flex-wrap: wrap;
}


.header-link {
    padding: 7px 28px 0 0;
    font-family: Manrope;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
}

.header-link:last-child {
    padding-right: 0;
}

.header-find-profile {
    display: flex;
    margin-top: 20px;
}

.header-find {
    display: flex;
    padding: 11px 49px 0 0;
    align-items: start;
}

.img-geo {
    margin-right: 9px;
}

.find-store {
    font-family: Manrope;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
}

.header-profile {
    margin-right: 38px;
}

.img-shop {
    margin-right: 16px;
}

@media screen and (max-width: 950px) {

    .header-find {
        display: none;
    }
}

@media screen and (max-width: 800px) {
    .burger-menu {
        display: block;
    }
    .header-links {
        display: none;
    }
}


.block-intro {
    background: #ECE0D6;
}

.intro-line {
    max-    width: 1364px;
    height: 1px;
    background: #1B1D21;
    margin: auto;
}

.intro {
    display: flex;
}

.block-intro-img {
    width: 100%;
    max-width: 489px;
    max-height: 343px;
    margin: 165px 81px 158px 0;
}

.intro-about {
    margin: 100px 0 120px 0;
}

.intro-title {
    font-family: Lexend;
    font-style: normal;
    font-weight: 500;
    font-size: 72px;
    line-height: 82px;
    color: #171717;
}


.intro-subtitle {
    font-family: Manrope;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 32px;
    color: #403D3C;
    padding: 27px 0 45px 0;
}

.intro-button {
    background: #1F2132;
    border-radius: 31.5449px;
    padding: 21px 36px;
    font-size: 18px;
    color: #FFFFFF;
    cursor: pointer;
}

.button-see {
    border: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
 }

.img-arrow {
    width: 22px;
    height: 22px;
    position: relative;
    background: rgba(255, 130, 91, 1);
    border-radius: 50%;
    margin-left: 18px;
}

.img-arrow:before {
    content: '';
    position: absolute;
    width: 7px;
    height: 11px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: url("/static/images/icon-arrow.svg") no-repeat;
    background-size: contain;
}

@media screen and (max-width: 1096px) {
    .block-intro-img {
        margin: 30px 41px 158px 0;
    }
    .intro-about {
        margin: 30px 0 10px 0;
    }
    .intro-title {
        font-size: 42px;
        line-height: 42px;
    }
    .intro-subtitle {
        font-size: 18px;
        padding: 17px 0 15px 0;
    }
}

@media screen and (max-width: 856px) {
    .intro {
        display: flex;
        flex-direction: column;
    }
    .block-intro-img {
        margin: auto;
        margin-top: 10px;
    }
    .intro-button {
        display: block;
        margin: auto;
    }
}

.block-featured {
    background: #1F2132;
}

.featured {
    display: flex;
    align-items: center;
    padding: 53px 0 45px;
    margin: auto;

}

.featured-text {
    margin: 0 60px 0 150px;
    font-family: Lexend;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.2px;
    color: #FFFFFF;
    white-space: nowrap;
}

.featured-blocks {
    display: flex;
    flex-wrap: wrap;
}

.featured-small {
    width: 100%;
    max-width: 159px;
    margin-right: 70px;
}
.featured-small:last-child {
    margin: 0;
}

.featured-big {
    width: 100%;
    max-width: 269px;
    margin-right: 70px;
}

.block-about {
    margin: 111px 0 60px 0;
}

@media screen and  (max-width: 1325px) {
    .featured-small {
        margin-right: 5px;
    }
    .featured-big {
        margin-right: 5px;
    }
}

@media screen and  (max-width: 1130px) {
    .featured-small {
        margin-top: 5px;
    }
    .featured-big {
        margin-top: 5px;
    }
    .featured-small:last-child {
        margin-top: 5px;
    }
    .featured-text {
        margin: 0 5px 0 5px;
    }
}

.about-wrapper {
    display: flex;
}

.about-name {
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 1.14286px;
    text-transform: uppercase;
    color: #6B6867;
}

.about-title {
    font-family: "Lexend", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 56px;
    line-height: 64px;
    letter-spacing: 0.175px;
    color: #1F2132;
    padding: 23px 0 16px 0;
}

.about-subtitle {
    font-weight: normal;
    font-size: 18px;
    line-height: 32px;
    color: #6B6867;
    max-width: 585px;
}

.button-about {
    margin: 32px 0 0 0;
}

.about-img {
    width: 100%;
    max-width: 390px;
    max-height: 471px;
    object-fit: cover;
    /*margin: 2px 68px 0 87px;*/
    margin: 2px 0 0;
}

.button-about {
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color: #007E5B;
    border: none;
    background: #FFFFFF;
    cursor: pointer;
}

@media screen and (max-width: 838px) {
    .about-wrapper {
        flex-direction: column;
        align-items: center;
    }
}

.block-products {
    margin: 60px 0 124px 0;
}

.products-title {
    display: flex;
    justify-content: space-between;
    margin: 80px 0 40px 0;
}

.products-text {
    font-weight: normal;
    font-size: 56px;
    line-height: 64px;
    text-align: center;
    letter-spacing: 0.175px;
    color: #1F2132;
}

.products-button {
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color: #6DCCCC;
    border: none;
    background: #FFFFFF;
    cursor: pointer;
}

.block-products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.products {
    padding: 49px 84px 43px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid transparent;
}

.products:hover {
    border-color: #FF825B;
}

.products:hover .product-button {
    background: #1F2132;
    color: #ECE0D6;
}

.product-name {
    padding: 36px 0 8px 0;
    font-family: Lexend;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    text-align: center;
    color: #1F2132;
}

.product-price {
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.0625px;
    color: #FF825B;
}

.product-button {
    margin: 32px 0 0 0;
    padding: 13px 51px 13px 53px;
    background: #FFFFFF;
    border: 1px solid #E3E3E3;
    border-radius: 31.5449px;
    cursor: pointer;
}

@media screen and (max-width: 1122px) {
    .block-products {
        justify-content: center;
    }
    .products {
        padding: 10px 30px 10px;
    }
}
@media screen and (max-width: 745px) {
    .products-title {
        flex-direction: column;
        margin: 10px 0 10px 0;
    }
    .block-products {
        margin: 10px 0 10px 0;
    }

}


.benefits {
    background: #FAFAFA;
}

.benefits-title {
    text-align: center;
    padding: 100px 0 16px 0;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    letter-spacing: 1.14286px;
    text-transform: uppercase;
    color: #6B6867;
}

.benefits-subtitle {
    text-align: center;
    margin: 0 0 34px 0;
    font-family: Lexend;
    font-style: normal;
    font-weight: normal;
    font-size: 56px;
    line-height: 64px;
    letter-spacing: 0.175px;
    color: #1F2132;
}

.reasons {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 100px;
}

.reason {
    width: 555px;
    background: #FFFFFF;
    margin: 30px 30px 0 0;
}

.reason:nth-child(even) {
    margin-right: 0;
}

.wrapper-reason {
    padding: 32px 56px 32px 40px;
    display: flex;

}

.reason-title {
    font-family: Lexend;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    color: #1B1D21;
    padding: 6px 0 4px 40px;
}

.reason-subtitle {
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
    color: #6B6867;
    padding-left: 40px;
}

@media screen and (max-width: 1140px) {
    .reasons {
        justify-content: center;
    }
    .benefits-title {
        padding: 10px 0 16px 0;
    }
    .benefits-subtitle {
        margin: 0 0 10px 0
    }
}

.gallery {
    background: #1F2132;
}

.wrapper-gallery {
    padding: 100px 0 121px 0;
}

.gallery-title {
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    letter-spacing: 1.14286px;
    text-transform: uppercase;
    color: #ECE0D6;
}

.gallery-subtitle {
    font-family: Lexend;
    font-style: normal;
    font-weight: normal;
    font-size: 56px;
    line-height: 64px;
    text-align: center;
    letter-spacing: 0.175px;
    color: #FFFFFF;
    padding: 16px 0 56px 0;
}

.gallery-images {
    display: flex;
    flex-direction: column;
}

.gallery-top {
    display: flex;
}

.gallery-bottom {
    display: flex;
}

.gallery-img-small {
    width: 100%;
    max-width: 360px;
    max-height: 320px;
    background: #FFFFFF;
    margin: 30px 30px 0 0;
}

.gallery-img-small:last-child {
    margin-right: 0;
}

.gallery-img-big {
    width: 100%;
    max-width: 750px;
    max-height: 320px;
    background: #FFFFFF;
    margin-top: 30px;

}

@media screen and (max-width: 1160px) {
    .gallery-images {
        margin: 0 10px;
    }
}
@media screen and (max-width: 880px) {
    .gallery-top {
        flex-direction: column;
        align-items: center;
    }
    .gallery-bottom {
        flex-direction: column;
        align-items: center;
    }
}

.block-questions {
    padding: 100px 0;
    background: #FAFAFA;
}

.questions-wrapper {
    margin: auto;
}

.block-question-title {
    font-family: Lexend;
    font-style: normal;
    font-weight: normal;
    font-size: 56px;
    line-height: 64px;
    text-align: center;
    letter-spacing: 0.175px;
    color: #1F2132;
}

.block-question-subtitle {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    color: #6B6867;
}

.questions {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 56px 0 100px 0;
}


.question-answer {
    width: 487px;
    margin: 0 31px 20px 0;
}

.question-answer {
    width: 487px;
}

.question {
    display: flex;
    justify-content: space-between;
    padding: 18px 20px 0px 20px;
    background: #FFFFFF;
}

.question-text {
    font-family: Lexend;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #1B1D21;
}

.question-arrow {
    padding: 6px 0;
}

.input-toggle {
    display: none;
}

.answer-text {
    display: none;
    padding: 12px 20px 18px 20px;
    background: #FFFFFF;
    font-family: 'Manrope', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #8D8E90;
}

.input-toggle:checked + .answer-text {
    display: block;
}


.reviews {
    display: flex;
}

.reviews-img {
    width: 100%;
    max-width: 320px;
    max-height: 320px;
    margin: 123px 0 136px 48px;
}

.review {
    margin: 100px 0 100px 89px;
}

.review-text {
    font-family: Lexend;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 48px;
    letter-spacing: 0.177778px;
    color: #1B1D21;
    padding: 50px 0 43px 0;
}

.review-label {
    display: flex;
    justify-content: space-between;
}

.review-label-person {
    font-weight: bold;
    font-size: 20px;
    line-height: 27px;
    color: #1B1D21;
}

.sliders {
    display: flex;
    margin-right: 101px;
}

.slider {
    margin-left: 16px;
}

.slider > input {
    display: none;
}

.slider > label {
    display: block;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    border: 1px solid #1F2132;
}

.slider > input:checked ~ label {
    background: rgba(109, 204, 204, 1);
    border: 1px solid rgba(109, 204, 204, 1);
}

@media screen and (max-width: 1001px) {
    .reviews {
        flex-direction: column;
        margin-top: 20px;
    }
    .reviews-img {
        margin: auto;
    }
    .review {
        margin: 20px;
    }
}

.footer {
    background: #007E5B;
}

.subsribe {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 61px 0 63px 0;
}

.subsribe-title {
    max-width: 572px;
    font-family: Lexend;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 52px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #FFFFFF;
}

.input-field {
    margin-top: 36px;
}

.wrapper-input-field {
    padding: 8px 8px 8px 19px;
    background: #FFFFFF;
    border-radius: 8px;
}

.input-text {
    border: none;
    padding-left: 11px;
}

.button-subscribe {
    padding: 18px 37px 16px;
    background: #F9BF62;
    border-radius: 4px;
    color: #141A50;
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    border: none;
    cursor: pointer;
}

@media screen and (max-width: 496px) {
    .subsribe-title {
        font-size: 30px;
        line-height: 42px;
    }
}

@media screen and (max-width: 433px) {
    .button-subscribe {
        padding: 2px 2px;
    }
}

.footer-line {
    background: #FFFFFF;
    height: 1px;
}

.footer-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 64px 0 63px 0;
    max-width: 848px;
    width: 100%;
    margin: auto;
}

.footer-link {

    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
}
.footer-link:last-child {
    margin: 0;
}
@media screen and (max-width: 600px) {
    .footer-menu {
        flex-direction: column;
        align-items: center;
    }
}